.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
  }

  nav{
    height:50em;
    border: 1em solid #ffffff
  }

  .div-header {
    width: 80%;
    margin: 0 auto;
  }